# Dependencies
node_modules/
package-lock.json
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local
config.js

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc
service-account.json
ui-debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.log 